/* for mobile phones */
@media only screen and (max-width: 767px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
}

  .headings-box {
    margin-top: 50px !important;
    margin-left: 0px !important;
  }

  .headings-box > h1 {
    color: #ff715d;
    font-weight: bold;
    font-size: 50px !important;
  }

  .price-card-container-row {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .price-card-container {
    margin-top: 120px;
    margin-left: 27px !important;
  }

  .card {
    margin-bottom: 30px;
  }

  .recharts-wrapper {
    margin-left: -50px !important;
  }

  .graph-container {
    margin-top: 100px!important;
  }
}

/* For iPad and Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .headings-box {
    margin-top: 150px !important;
    margin-left: 60px;
  }
}

.headings-box {
  margin-top: 300px;
  margin-left: 60px;
}

.headings-box > h1 {
  color: #ff715d;
  font-weight: bold;
  font-size: 100px;
}

.headings-box > h2 {
  color: rgba(0, 0, 0, 0.539);
}

.image-box {
  margin-top: 50px;
}

.col-one {
  background-color: bisque;
}

.col-two {
  background-color: bisque;
}

.price-section {
  background-color: white;
}

.price-card-container {
  margin-top: 100px;
}

.price-card-container-row {
  padding-right: 100px;
  padding-left: 150px;
}

.graph-container {
  margin-top: 150px;
}

.recharts-wrapper {
  margin: auto;
}
